@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.navbar {
  background-color: #1f2937;
  height: 60px;
  padding: 20px;
}

.navbar .container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  background-color: #1f2937;
  padding: 20px;
}

.hero .container {
  max-width: 900px;
  height: 100%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero .left {
  max-width: 450px;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero button {
  font-size: 18px;
  font-weight: 900;
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.info {
  padding: 0 20px;
}

.info h1 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin: 40px auto;
}

.info .container {
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: center;
}

.info .cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info .card img {
  width: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 0 20px;
}

.quote .container {
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.quote .text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote .person {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}